<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}URL Shortener{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% block head %}{% endblock %}
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <a href="{{ url_for('shortener.home') }}">
            <i class="fa-solid fa-link"></i> URL Shortener
          </a>
        </div>
        <nav>
          {% if session.get('user_id') %}
          <span>
            <i class="fa-solid fa-user"></i>
            Welcome, <strong>{{ session['username'] }}</strong>
          </span>
          <a href="{{ url_for('auth.logout') }}" class="btn">
            <i class="fa-solid fa-right-from-bracket"></i> Logout
          </a>
          {% else %}
          <a href="{{ url_for('auth.login') }}" class="btn">
            <i class="fa-solid fa-right-to-bracket"></i> Login
          </a>
          <a href="{{ url_for('auth.register') }}" class="btn primary">
            <i class="fa-solid fa-user-plus"></i> Register
          </a>
          {% endif %}
        </nav>
      </div>
    </header>

    <main>
      <div class="container">{% block content %}{% endblock %}</div>
    </main>

    <footer>
      <div class="container">
        <p>&copy; 2025 · Shardul Shekatkar</p>
      </div>
    </footer>
  </body>
</html>
